{% extends 'base.html.twig' %}

{% block title %}Apokalpsy - Prophétie
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Prophétie</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
     <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-12">
                            <h5 class="post-title"><a href="#">Les prophéties du Pasteur Maillol</a></h5>
                                <p style="margin-bottom: 10px;font-size: 14px;color: #242424;">
                                    Le Pasteur Mailhol est le Président Fondateur International de l'Eglise Apocalypse et du Parti Politique GFFF (Gideona Fandresena ny Fahantrana eto Madagasikara). Il est également connu pour être l'un des prophètes les plus célèbres de notre temps. Au cours des quatre dernières années, de nombreux événements se sont produits dans le monde entier.
                                </p>
                            
                                
                                <p style="margin-bottom: 10px;font-size: 14px;color: #242424;">
                                    En général, le Pasteur Mailhol partage les <strong>prophéties qu'il reçoit de Dieu</strong> avec les croyants de son église avant d'en parler à la télévision ou à la radio. Il convient de noter que la prophétie est la révélation des choses qui se produiront dans l'avenir afin que l'humanité entière se prépare. Ainsi, annoncer des événements futurs selon le commandement de Dieu n'est pas chose facile. En effet, tous les regards se tournent vers le pasteur, notamment lorsque ses prédictions ne parlent que de malheurs tels que des pandémies, des catastrophes naturelles, des coups d'État, des déluges, de la mort de présidents et d'anciens présidents ainsi que de célébrités.
                                </p>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset( 'assets/images/blog/grid/pic1.jpg' ) }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>08 Mars 2023</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Cynthia</a></li>
                                </ul>
                                <h5 class="post-title">Le début de la révélation</h5>
                                <p>
                                    Rappelons que le Pasteur Mailhol a eu sa première prophétie aux alentours de <strong>1991</strong> alors qu'il était encore marchand.
                                </p>
                                
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>05 commentaires</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset( 'assets/images/blog/grid/pic2.jpg' ) }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>Feb 05 2019</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Cynthia</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">Pandémie</a></h5>
                                <p>
                                    En ce qui concerne les prophéties qui parlent de destructions, certains de ceux qui ont été prédits se sont déjà réalisés tandis que d'autres sont encore à venir. En 2019, l'homme de Dieu a prédit qu'une pandémie connue sous le nom de <strong>Covid-19</strong> causerait de nombreux décès durant les années à venir. Mais pour Madagascar, elle ne durerait que trois ans. Peut-être n'a-t-on pas prêté suffisamment attention à cette prophétie, mais elle s'est réalisée.
                                </p>
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>12 commentaires</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset( 'assets/images/blog/grid/pic3.jpg' ) }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>April 14 2019</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Cynthia</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">Décès des célébrités, morts des personnes connues</a></h5>
                                <p>
                                    Certains présidents sont décédés ces dernières années, comme l'ancien <strong>président de la République</strong>de Madagascar <strong>Didier Ratsiraka</strong> (décédé en 2020), <strong>le président tchadien Idris Debby</strong> (décédé en 2021), <strong>le pape Benoit XVI en 2022</strong>, ainsi que d'autres célébrités.

                                </p>
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20 commentaires</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset( 'assets/images/blog/grid/pic4.jpg' ) }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>March 21 2019</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Prisca</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">Catastrophe naturelle.</a></h5>
                                <p>Le <strong>tremblement de terre en Turquie</strong>, classé comme le plus fort et le plus dangereux, a <strong>tué plus de 40 000 personnes</strong>jusqu'à présent. Cette catastrophe a détruit de nombreuses vies et ravagé de nombreux abris. Sans parler de la guerre entre l'Ukraine et la Russie qui affecte le monde entier, surtout les pays africains, et qui entraînera une grave crise économique et politique.
                                </p>
                                <p>
                                    En plus de cela, le Pasteur Mailhol a prédit à la fin de l'année 2022 que l'humanité vivrait encore une situation très difficile : la sécheresse, la famine, les cyclones et les tempêtes s'intensifieraient au début de l'année 2023 et pour les années à venir.
                                </p>
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>28 commentaires</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-lg-4 sticky-top">
                        <aside class="side-bar sticky-top">
                            
                            
                            
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content END-->
	{% endblock %}
	
	{% block javascripts %}
		
	{% endblock %}
	
