<!-- header start -->
<header class="ttr-header">
	
	<div
		class="ttr-header-wrapper">
		<!--sidebar menu toggler start -->
		<div class="ttr-toggle-sidebar ttr-material-button">
			<i class="ti-close ttr-open-icon"></i>
			<i class="ti-menu ttr-close-icon"></i>
		</div>
		<!--sidebar menu toggler end -->
		<!--logo start -->
		<!--logo end -->
			<div
			class="ttr-header-menu"> <!-- header left menu start -->
			<ul class="ttr-header-navigation">
				<li>
					<a href="{{ path ('app_home') }}" class="ttr-material-button ttr-submenu-toggle">Retour à l'accueil</a>
				</li>
			</ul>
			<!-- header left menu end -->
		</div>
		<div
			class="ttr-header-right ttr-with-seperator">
			<!-- header right menu start -->
			<ul class="ttr-header-navigation">
				<li>
					<a href="#" class="ttr-material-button ttr-search-toggle">
						<i class="fa fa-search"></i>
					</a>
				</li>
				<li>
					<a href="#" class="ttr-material-button ttr-submenu-toggle">
						<i class="fa fa-bell"></i>
					</a>
					<div class="ttr-header-submenu noti-menu">
						<div class="ttr-notify-header">
							<span class="ttr-notify-text-top">Nouveau: 5</span>
							<span class="ttr-notify-text">Notifications utilisateur</span>
						</div>
						<div class="noti-box-list">
							<ul>
								<li>
									<span class="notification-icon dashbg-gray">
										<i class="fa fa-comments-o"></i>
									</span>
									<span class="notification-text">
										<span>Cynthia</span>
										Vous a envoyé un message.
									</span>
									<span class="notification-time">
										<a href="#" class="fa fa-close"></a>
										<span>
											02:14</span>
									</span>
								</li>
								<li>
									<span class="notification-icon dashbg-yellow">
										<i class="fa fa-comments-o"></i>
									</span>
									<span class="notification-text">
										<a href="#">Prisca</a>
										Vous a envoyé un message.
									</span>
									<span class="notification-time">
										<a href="#" class="fa fa-close"></a>
										<span>
											7 Min</span>
									</span>
								</li>
								<li>
									<span class="notification-icon dashbg-red">
										<i class="fa fa-comments-o"></i>
									</span>
									<span class="notification-text">
										<span>Harima</span>
										Vous a envoyé un message.
									</span>
									<span class="notification-time">
										<a href="#" class="fa fa-close"></a>
										<span>
											2 May</span>
									</span>
								</li>
								<li>
									<span class="notification-icon dashbg-green">
										<i class="fa fa-comments-o"></i>
									</span>
									<span class="notification-text">
										<a href="#">Herilalaina</a>
										Vous a envoyé un message.
									</span>
									<span class="notification-time">
										<a href="#" class="fa fa-comments-o"></a>
										<span>
											14 July</span>
									</span>
								</li>
								<li>
									<span class="notification-icon dashbg-primary">
										<i class="fa fa-comments-o"></i>
									</span>
									<span class="notification-text">
										<span>Niry</span>
										Vous a envoyé un message.
									</span>
									<span class="notification-time">
										<a href="#" class="fa fa-close"></a>
										<span>
											15 Min</span>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					

					<a href="#" class="ttr-material-button ttr-submenu-toggle">
						{% set adminExists = false %}
						{% for article in usersWithArticles %}
							{% if article.role == "ROLE_ADMIN" %}
								{% set adminExists = true %}
								<span class="ttr-user-avatar">
									<img src="{{ asset('photo/'~ article.photo ) }}" alt=""/>
								</span>
							{% endif %}
						{% endfor %}
						
						{% if not adminExists %}
							{% for article in usersWithArticles %}
								<span class="ttr-user-avatar">
									<img src="{{ asset('photo/'~ article.photo ) }}" alt=""/>
								</span>
							{% endfor %}
						{% endif %}
					</a>
					<div class="ttr-header-submenu">
						<ul>
							<li><a href="user-profile.html">Mon profil</a></li>
							<li><a href="list-view-calendar.html">Activité</a></li>
							<li><a href="mailbox.html">Messages</a></li>
							<li><a class=""href="{{ path ('app_logout') }}">Déconnexion</a></li>
						</ul>
					</div>
				</li>
				<li class="ttr-hide-on-mobile">
					<a href="#" class="ttr-material-button">
						<i class="ti-layout-grid3-alt"></i>
					</a>
					<div class="ttr-header-submenu ttr-extra-menu">
						<a href="#">
							<i class="fa fa-picture-o"></i>
							<span>Photos</span>
						</a>
						<a href="#">
							<i class="fa fa-youtube-play"></i>
							<span>Videos</span>
						</a>
						<a href="#">
							<i class="fa fa-envelope"></i>
							<span>Email</span>
						</a>
						<a href="#">
							<i class="fa fa-book"></i>
							<span>Articles</span>
						</a>

					</div>
				</li>
			</ul>
			<!-- header right menu end -->
		</div>
		<!--header search panel start -->
		<div class="ttr-search-bar">
			<form class="ttr-search-form">
				<div class="ttr-search-input-wrapper">
					<input type="text" name="qq" placeholder="search something..." class="ttr-search-input">
					<button type="submit" name="search" class="ttr-search-submit">
						<i class="ti-arrow-right"></i>
					</button>
				</div>
				<span class="ttr-search-close ttr-search-toggle">
					<i class="ti-close"></i>
				</span>
			</form>
		</div>
		<!--header search panel end -->
	</div>
</header>
<!-- header end -->
