<link
rel="stylesheet" href="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css"/>
<!-- Modal -->
<style>
	#emojionearea1 {
		position: fixed;
		bottom: 0;
		top: 0;
	}
</style>
<div class="modal fade" style="z-index: 1000000000;" id="comments" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="">
	<div class="modal-dialog modal-dialog-centered" style="max-width:630px;" role="document">
		<div class="modal-content m-0 scroll-comments" style="height:700px; overflow-y:auto;">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-titre-comment">{% trans %}Chargement ...{% endtrans %}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="modal-commentaire-comment"></div>
				<div class="col-md-12 col-lg-12 col-xl-12" style="">
					<ul class="list-unstyled" id="comments-article"></ul>
					<img src="{{ asset ('assets/images/spinner/spinner.gif') }}" id="loading-comments"/>
				</div>
				{% if app.user is not null %}
				<input type="text" id="emojionearea1"/>
				{% else %}
				<span>Pour laisser un commentaire, veuillez vous connecter <a href="{{ path('app_login') }}"><strong>ici</strong></a>.</span>
				{% endif %}
			</div>
		</div>

	</div>
</div></div><script src="https://rawgit.com/mervick/emojionearea/master/dist/emojionearea.js" defer></script><script>
$(function () { // Initializes and creates emoji set from sprite sheet
Comments.sendComments() // pop up emoji
$(document).bind({
click: function (event) {
const $elmnt = $(event.target)
if ($elmnt.hasClass('comments')) {
const id_article = $elmnt.attr("id")
let isPostRecent = true
if ($elmnt.hasClass('post-populaire')) {
isPostRecent = false
}
Comments.showDialog(id_article, isPostRecent)
}
}
})
})</script>
