<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner" style="background-image:url( {{ asset('assets/images/slider/slide1.jpg') }});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white" style="text-shadow:0px 0 black, 0 0px black, 2px 0 black, 0 1px black">Eglise Apokalypsy Universelle</h1>
                <p class="text-white" style="text-shadow: 2px 0 black, 0 0px black, 2px 0 black, 0 1px black;">Sache que je te confie aujourd'hui une mission envers les nations et les royaumes :<br/>
                    celle d'arracher et de renverser, de ruiner et de détruire, de construire et de planter. Jérémie:1.10</p>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>