<div
	class="page-content bg-white">
	<!-- inner page banner -->

	<div class="page-banner" style="background-image:url( {{ asset ('assets/images/slider/slide1.jpg') }});">
		<div class="container">
			<div class="page-banner-entry">
				<h1 class="text-white" style="text-shadow:0px 0 black, 0 0px black, 2px 0 black, 0 1px black">{% trans %}Bienvenue chez FlexiFood{% endtrans %}</h1>
				<p class="text-white" style="text-shadow: 2px 0 black, 0 0px black, 2px 0 black, 0 1px black;">{% trans %}Savourez l’avenir, sans compromis<br/>Nos repas sont frais, équilibrés et personnalisés, servis dans des box réutilisables<br/> {% endtrans %}<br/>
					{% trans %}
					et traçables grâce à un QR code intelligent.
					{% endtrans %}
				</p>
				
			</div>
		</div>
	</div>
</div>
<br/>
<br/>
